<%- include('partials/header.ejs'); %>

  <div class="box boxx">
    <img src=" <%= imgURL %> " alt="">
    <h1> <%= cityName %> </h1>
    <p> Temperatur in <span><%= cityName %></span> is <span><%= temperature %>°C</span> </p>
  </div>

<%- include('partials/footer.ejs') %>
